@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');



body {
   /* background-color: rgb(57, 57, 57); */
   background-image: url(backgroundImg.jpg);
   background-repeat: no-repeat;
   background-size: 100%;
   color: white;
   font-family: 'Acme', sans-serif;
}


.soundMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    margin: 10% 8%;
}

.menuItem {
    margin: 2%;
    padding: 0 1.5vw;
    font-size: 1.5vw;
    background-color: rgba(0, 0, 0, 0.741);
    border-radius: 10%;
    max-height: 150px;
    min-width: 10%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.menuItem:hover {
    background-color: rgb(45, 45, 45);
}

.menuItem.keyPush {
    background-color: rgb(45, 45, 45); 
}